<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Official NuGet feed -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- Local Iskra packages -->
    <add key="IskraLocal" value="../src/Iskra.JSCore/bin/Release" />
    <add key="IskraLocalStdWeb" value="../src/Iskra.StdWeb/bin/Release" />
  </packageSources>
</configuration>
